.flex-container {
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-element {
    max-width: 600px;
    max-height: 500px;
    margin: 10px;
    font-size: 46px;
}

.flex-element:hover {
    transform: scale(1.5);
}

